body {
    font-family: 'Source Code Pro', monospace;
    background-color: #39fac4;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}
h1 {
    font-size: 20pt;
}

header{ 
    text-align: center;
}

#hero, footer {
    color: #000000;
    font-weight: bold;
    border: 4px solid #5c8fe0;
    background-color: #9b46f5;
    text-align: center;
    padding: 10px;
}

/* Hero Section */

#hero img {
    width:200px;
}

/* reviews Section */

#reviews {
    font-weight: bolder;
    color: #000000;
    text-align: center;

}

/* my work Section */

#work ul {
    list-style: none;
}

#work ul li:hover {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    color: rgb(255, 0, 191);
    font-style: italic;
}

/* Gallary Section */

#gallery {
    border: 2px solid #5c8fe0;
    margin-bottom: 2rem;
}

#gallery img {
    max-width: 100%;
}

/* tablet size */

@media screen and (min-width: 60em) {
    figure {
        display: column;
        grid-template-columns: 1fr;
    }

    figcaption{
        display: flex;
        justify-content: center;
        align-items: center;;
        margin-left: 1rem;
    }

    figure img {
        width: 90%;
    }

}

/* Large screen size */

@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }

}